/* Definição do root com as cores do projeto */
:root {
  --color-background-light: #f4f4f9; /* Cor clara de fundo */
  --color-text-dark: #333; /* Texto escuro */
  --color-white: #ffffff; /* Branco */
  --color-green-primary: #27ae60; /* Verde principal */
  --color-green-hover: #218c54; /* Verde para hover */
  --color-green-light: #e8f5e9; /* Verde claro (fundo das consultas) */
  --color-gray-border: #ddd; /* Cinza das bordas */
  --color-gray-label: #555; /* Cinza do texto dos labels */
  --color-shadow: rgba(0, 0, 0, 0.1); /* Sombra leve */
  --color-red: #ff0000; /* Vermelho (botão cancelar) */
  --color-red-dark: #8b0000; /* Vermelho escuro para hover */
}

/* Reset básico para remover margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body{
  background-image: url("../assets/clinicaMedica.webp");
  background-size: cover;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container{
  width: 90%;
  max-width: 900px;
  background:var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  color: var(--color-green-primary);
  margin-bottom: 8px;
}

h2{
  margin-bottom: 8px;
}

label{
  font-weight: bold;
  color: var(--color-gray-label);
}

select,input{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-border);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
}

button{
  background-color: var(--color-green-primary);
  color: var(--color-white);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.03s;
  margin-bottom: 8px;
}
button:hover{
  background-color: var(--color-green-hover);

}